* {
  margin: 0;
  padding: 0;
}

.js-container {
  background-color: rgb(45, 42, 42);
  overflow: hidden;
}

#app-container {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  height: 100vh;
  max-width: 600px;
  border-radius: 1rem;
  background-color: rgb(137, 119, 18);
  box-sizing: border-box;
}

#table-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10rem;
  border-radius: 0.6rem;
  background-image: url(img/table.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.participant-side {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cards-container {
  flex-grow: 1;
}

.participant-info {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  height: 6rem;
  width: 100%;
  box-sizing: border-box;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(193, 146, 146);
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.profile img {
  height: 3rem;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.dealt-card {
  height: 7rem;
}

.dealt-card > img {
  height: 100%;
}

.player-action-container {
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  max-width: 100vw;
  gap: 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.732);
}

.player-action-container > button {
  padding: 0.2rem 1rem;
  border: none; 
  border-radius: 0.5rem;
  background-color: red;
  white-space: nowrap;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

